<app-header></app-header>
<div class="container-fluid text-center colored-container">
  <div class="box-one">
    <h1 class="display-1 title-passenger">Nota Fiscal</h1>
    <p class="lead p-passenger-1">Gerencie seus dados aqui</p>
  </div>
  <form>
    <div class="box-two">
      <h2 class="display-2 title-passenger-2">Buscar informando dados</h2>
      <p class="lead p-passenger-2">Busque suas informações com o número de identificação</p>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card card-one" *ngIf="!notas$">
          <div class="card-body element-card">
            <p class="lead p-two">Nenhum dado informado ou localizado</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <form method="get" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
            <div *ngIf="searchForm.get('nome')?.touched && searchForm.get('nome')?.errors?.['required']"
              class="alert alert-danger" role="alert">
              Atenção este campo é requerido!
            </div>
            <div *ngIf="searchForm.get('nome')?.touched && searchForm.get('nome')?.errors?.['minlength']"
              class="alert alert-danger" role="alert">
              Atenção tamanho deve ter no mínimo {{ searchForm.get('nome')?.errors?.['minlength']?.requiredLength }}
              caracteres!
            </div>
            <input type="text" class="form-control" id="nome" name="nome" required formControlName="nome"
              placeholder="">
            <div class="col-auto">
              <button type="submit" class="btn btn-success mb-3 btn-search"
                [disabled]="searchForm.invalid">Buscar</button>
              <button type="button" class="btn btn-primary mb-3 btn-update" (click)="changeRouter('/notas-form');"
                [disabled]="!searchForm.invalid">Novo</button>
              <button type="button" (click)="callFormUpdate()" class="btn btn-warning mb-3 btn-update"
                [disabled]="!notas$">Atualiza</button>
              <button type="button" class="btn btn-danger mb-3 btn-delete" (click)="openPopup()"
                [disabled]="!notas$">Deletar
              </button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confirmação</h4>
                    </div>
                    <div class="modal-body">
                      <p>Realmente deseja realizar a ação?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Não
                      </button>
                      <button type="button" class="btn btn-success" (click)="onDelete()">
                        Sim
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button type="button" (click)="changeRouter('')"
                class="btn btn-warning mb-3 btn-delete-two">Voltar</button>
              <button type="button" (click)="clearText()" class="btn btn-danger mb-3"
                [disabled]="searchForm.invalid">Limpar</button>
            </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </form>
  <div class="card" *ngIf="notas$">
    <div class="card-body element-card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Preco</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ notas$.nome }}</td>
            <td>{{ notas$.email }}</td>
            <td>{{ notas$.preco }}</td>
            <td>{{ notas$.data }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="card" *ngIf="showPanelEdit">
          <div class="card-body element-card">
            <form method="post" (ngSubmit)="onSubmitUpdate()" [formGroup]="notasFormList">
              <div class="mb-3">
                <div *ngIf="notasFormList.get('nome')?.touched && notasFormList.get('nome')?.errors?.['required']"
                  class="alert alert-danger" role="alert">
                  Atenção este campo é requerido!
                </div>
                <div *ngIf="notasFormList.get('nome')?.touched && notasFormList.get('nome')?.errors?.['minlength']"
                  class="alert alert-danger" role="alert">
                  Atenção tamanho deve ter no mínimo {{
                  notasFormList.get('nome')?.errors?.['minlength']?.requiredLength }}
                  caracteres!
                </div>
                <label for="" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
              </div>
              <div class="mb-3">
                <div
                  *ngIf="notasFormList.get('id')?.touched && notasFormList.get('id')?.errors?.['required']"
                  class="alert alert-danger" role="alert">
                  Atenção este campo é requerido!
                </div>
                <div
                  *ngIf="notasFormList.get('id')?.touched && notasFormList.get('id')?.errors?.['maxlength']"
                  class="alert alert-danger" role="alert">
                  Atenção tamanho deve ter no maximo {{
                  notasFormList.get('id')?.errors?.['maxlength']?.requiredLength }}
                  caracteres!
                </div>
                <div
                  *ngIf="notasFormList.get('id')?.touched && notasFormList.get('id')?.errors?.['minlength']"
                  class="alert alert-danger" role="alert">
                  Atenção tamanho deve ter no mínimo {{
                  notasFormList.get('id')?.errors?.['minlength']?.requiredLength }}
                  caracteres!
                </div>
                <label for="" class="form-label">identificação</label>
                <input type="text" class="form-control" formControlName="id" id="id" placeholder="">
              </div>
              <div class="mb-3">
                <div *ngIf="notasFormList.get('email')?.touched && notasFormList.get('email')?.errors?.['required']"
                  class="alert alert-danger" role="alert">
                  Atenção este campo é requerido!
                </div>
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="">
              </div>
              <div class="mb-3">
                <div *ngIf="notasFormList.get('preco')?.touched && notasFormList.get('preco')?.errors?.['required']"
                  class="alert alert-danger" role="alert">
                  Atenção este campo é requerido!
                </div>
                <label for="" class="form-label">Preço</label>
                <input type="number" class="form-control" formControlName="preco" id="preco" placeholder="">
              </div>
              <div class="mb-3">
                <div
                  *ngIf="notasFormList.get('data')?.touched && notasFormList.get('data')?.errors?.['required']"
                  class="alert alert-danger" role="alert">
                  Atenção este campo é requerido!
                </div>
                <label for="" class="form-label">Data</label>
                <input type="date" class="form-control" formControlName="data" id="data" placeholder="">
              </div>
              <div class="col-auto">
                <!-- <button type="submit" class="btn btn-success mb-3 btn-search" [disabled]="notasFormList.invalid">Confirmar</button> -->
                <button type="button" class="btn btn-success mb-3 btn-search" (click)="openPopup()"
                  [disabled]="notasFormList.invalid">Confirmar
                </button>
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Confirmação</h4>
                      </div>
                      <div class="modal-body">
                        <p>Realmente deseja realizar a ação?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="closePopup()">
                          Não
                        </button>
                        <button type="submit" class="btn btn-success" (click)="closePopup()">
                          Sim
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="clearTextUpdate()" class="btn btn-danger mb-3 btn-search">Limpar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
