<app-header></app-header>
<div class="container text-center mb-3 mt-3">
  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">Bem vindo a Magma3</h1>
      <p class="card-text">Uma empresa de tecnologia inovativa e intuitiva</p>
      <button type="button" class="btn btn-outline-primary" (click)="btnClickCreate();">Gerar Nota</button>
      <button type="button" class="btn btn-outline-primary" (click)="btnClick();">Buscar Nota</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../../assets/kampus-production.jpg"
              class="d-block w-100 carousel-img"
              alt="Magma 3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/rebrand-cities.jpg"
              class="d-block w-100 carousel-img"
              alt="Magma 3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Proximo</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-3">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm list-icon">
      <h2 class="text-center title-two">Redes</h2>
      <ul class="nav justify-content-center align-icons">
        <li class="list-group-item icon-picture-linke">
          <a href="https://www.linkedin.com/company/magma3---tecnologia-e-soluções/">Linkedin</a>
        </li>
        <li class="list-group-item icon-picture-inst">
          <a href="https://magma3.com.br/"
            >Site</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
